<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Pickup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://www.paypal.com/sdk/js?client-id=AaCPTuKsVMlQ40M_b2U54mSv7Z3tsXWAw_2zCBxIwmEwTI_33vxXzeBQk2GNW3Po75huYnXJ3SuvOta_&currency=USD"></script>
   	<link rel="shortcut icon" type="image/png" href="https://github.com/restaurantpickup/FreeDemo/blob/main/links/RPA.png?raw=true"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
