<!DOCTYPE html>
<html>
  <head>
    <title>Baker Shack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   	<link rel="shortcut icon" type="image/png" href="https://github.com/restaurantpickup/FreeDemo/blob/main/links/RPA.png?raw=true"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
