<!DOCTYPE html>
<html>
  <head>
    <title>Fusion Street App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://www.paypal.com/sdk/js?client-id=AUdtGm5i5EoksoExGukCURJYjFP-ddTIuv2ONYyipcWC0OCXzIhYzLUs_myjyAS5DOm8PaJVcKGoMPIY&currency=USD"></script>
   	<link rel="shortcut icon" type="image/jpg" href="https://github.com/restaurantpickup/FusionStreet/blob/main/img/menu/promo_slide_3.jpg?raw=true"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
